* {
	padding:0px;
    margin: 0px;
	font-family: "arial",Times New Roman, Times, serif;
	color: #FFF;
	
}
html
{
	   background-image:url("../imgs/background.png");
	  background-repeat:no-repeat;
	  width: 100%; 
	  background-size: cover;
}
Video
 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	z-index: -1;
}
/* body styling started */ 
.mycontent header{
	background-size:cover;
	z-index: 1;
	width:100%;
	height:200px;
	position: relative;
	padding: 0;
    margin: 0;
	text-align: center;
	
   
}
@font-face
{
	font-family:'Berlin Sans FB';
	src:url("../fonts/BRLNSR.woff") format('woff');
}
.mycontent header img{
	width:100%;
	height:200px;
	
}
a.text{
	text-decoration:none;
}

.mycontent header h1
{     text-align: center;
	font-family: "Berlin Sans FB",Times New Roman, Times, serif;
	color:#FFF;
	font-size:3.9em;
	text-shadow:
    -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 2px 0 #000,
    2px 2px 0 #000;
	position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
	width:100%;
	height:200px;   
    text-align: center;
	vertical-align:middle;
    line-height:200px;
	
}
.theheadindex .image, 
.theheadindex .text{
    display: inline-block;
    vertical-align: bottom;
}
/* navigation bar styling started */ 
a.navilink{
	color:#FFF;
	text-decoration:none;
	margin:0px 20px 0px 20px;
}
nav{
	background-color:#878787;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	font-size:30px;
	height:50px;
	text-align:center;
	width:960px;
	padding-top:11px;
	
}
ul li
{
	list-style:none;
	display:inline;
}
a:hover {
    color: #000;
}

.mycontent {
	width:960px;
	margin: auto;

}
section
{
	background-color:#2699FB;
}
/* index page styling started */ 
.content2 img{
	width:960px;
	height:400px;
	
}
.content2 h2
{
font-size:76px;	
font-family: "arial",Times New Roman, Times, serif;
text-align:center;
height:162px;
font-weight: normal;
padding-top:30px;
padding-bottom:38px;
}
/* product page styling started */ 
.content3 
{
	height:100%;
}
.content3 h2
{
font-size:76px;	
font-family: "arial",Times New Roman, Times, serif;
text-align:center;

font-weight: normal;
padding-top:20px;
padding-bottom:20px;
}
.content3 img
{
	background-color:#FFF;
	width:300px;
	height:200px;
	margin-bottom:0.417em;
	margin-top:0.417em;
	border:1px solid #AAA;
	
}
.picsproduct
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  background-color:#FFF;
  border:1px solid #AAA;
  padding-left:10px;
  padding-right:0.625em;
  padding-bottom:0.625em;
  padding-top:0.625em;
}
.content2 span
{
	display:block;
}
	/* contact page styling started */ 
 #content4 h2
{
font-size:76px;	
font-family: "arial",Times New Roman, Times, serif;
text-align:center;
font-weight: normal;
padding-top:20px;
padding-bottom:20px;
}
 .formbox 
 {
	background-color:#F5F5F5; 
	border:1px solid #AAA;
    width:100%;
	height:640px;
	outline: 0;
 }
 textarea:focus, input:focus{
    outline: none;
}
 .formbox > p
 {
	padding:34px; 
	font-size:30px;
 }
 .formbody
 { 
	 margin:auto;
	 width:80%; 
 }
 .formbody input
 {
	
	 width:100%; 
	 height:56px;
	 margin-top:26px;
	 font-size:22px;
	 border-top:1px solid #707070;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;

 }
 .TheFormDropdown 
 {
	width:100%; 
	height:16px;
	background-color:#FFF;
	font-size:22px;
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #707070;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
 }
 .TheFormDropdown select
 {
	width:70%;
	height:40px;	
	float:right;
	margin-top:-15px;
	font-size:22px;
	margin-right:10px;
 }	 
 .formbody textarea
 {
	 height:152px;
	width:100%;  
	 margin-top:26px;
	 margin-bottom:-4px;
	 font-size:22px;
 }
fieldset
{
		   border-style:none;
}
 .thesubmitbtn
 {
	 background-color:#2699FB; 
	 width:100%;
	 height:62px;
	 margin-top:26px;
 }
  .thesubmitbtn value
  {
	 	font-size:125px; 
  }
 #content4 p
 {
	color: #707070; 
 }
 
 .input, select, textarea ,label,option,value,type
 {
color: #707070;
}
::placeholder
 { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
    color: #707070;
}

::-ms-input-placeholder 
{ /* Microsoft Edge */
    color: #707070;
}
/* footer styling started */ 
 footer
{
	color:#FFF;
	font-size:30px;
	background-color:#000;
	text-align: center;
    margin:auto;
	height:45px;
	padding-top:0.5em;
	padding-bottom:0.5em;
}



/* media query tablets */ 
@media only screen and (max-width: 960px){
 
	header{
		width:100%;
	  }
	   header h1
	   {
		  width:100%;
	   }

	  video
	  {
		  display:none;
	  }
	  
	  nav{
		width:100%;
	  }
	  
	  h2
	  {
		   width:100%;
		   background-color:#2699FB;
	  }
	.mycontent
    {
        width:100%;
    }
        footer{
            width:100%;
            margin-left:auto;
            margin-right:auto;
			z-index:1;
           }
     
	 /* form settings */  
	 .formbody
 { 
	  display: flex;
      align-items: center;
      flex-direction: column;
	
 }
	 .formbody  .thesubmitbtn{
		 width:100%;
	 }
	 
	form select
    {
        display:block;
    }
	select
    {
        width:100%;
    }
	.TheFormDropdown {
			padding-bottom:60px;
		}
	#nextlinenotforweb
	{
	display:block;
	}
	.TheFormDropdown select{
		float:left;
		margin-top:5px;
		 width:100%;
	}
	fieldset{
	  width:100%;
		}
		#DeTextArea{
	  width:100%;
		}
		
	/* form settings ends */ 
	body{
        background-image: none ;
    }
	
	#imgg3,#imgg8{
		width:49%;
		height:321px;
		left:0px;
		right:0px;	
		border:3px solid #FFF;	
		object-fit:cover;		
	}
	#imgg3{
	border-right:1px solid #FFF;	
	}
	#imgg8{
		border-left:0.5px solid #FFF;	
	}
	.content2 
	{
	background-color:#FFF;
	}
		
	
	.VoorTablet
	{
		width:100%;
		height:100%;
		z-index:1;
		background-color:#2699FB;
	}	
	
	#imgg9
	{
	width:100%;
    height:321px;
	}
	
	#imgg6
	{
		display:none;
	}
	/* some dutch text because I wanted a chnage LOL! */ 
	.NietVoorTablet
	{
		display:none;
	}
	.NeitVoorTablet2
	{
		display:none;
	}
	
	
	#img1, #img2, #img3, #img4, #img5, #img6,#img7, #img8, #img9, #img10, #img11, #img12{
	
		width:48%;
		height:215px;
		left:0px;
		right:0px;	
		border-top:1px solid #FFF;
		}
		
		
		
}		
		
		
		
/* media query phones */ 
@media only screen and (max-width:360px){
    header{
		width:100%;
	  }
	   header h1
	   {
		  width:100%;
	   }

	  video
	  {
		  display:none;
	  }
	  
	  nav{
		width:100%;
	  }
	   ul li{
                font-size:10px;
                padding-left:5px;
                padding-right:5px;    
        }
	  
	  h2
	  {
		   width:100%;
		   background-color:#2699FB;
	  }
	.mycontent
    {
        width:100%;
    }
        footer{
            width:100%;
            margin-left:auto;
            margin-right:auto;
			z-index:1;
           }
     
	
	body{
        background-image: none ;
    }
		 
	 a.navilink{
				margin:0px 5px 0px 5px;
		        }
				
		
	.content2 .NietVoorTablet
	{
		display:none;
	}
	#NotForPhones
	{
		display:none;
	}
	.NeitVoorTablet2
	{
		display:none;
	}	
		.content2 img{
			width:100%;
		height:321px;
		left:0px;
		right:0px;	
		border:0px solid #FFF;	
		object-fit:cover;		
		}	
		#imgg3,#imgg8
	{
	width:100%;
    height:321px;
	}
        
}
